*,*::before,*::after{
    box-sizing: border-box;
    font-family: Franklin Gothic, sans-serif;
    font-size: normal;
}
body{
    margin: 0;
    padding:0;
    background:linear-gradient(to left,#0079FF,#00DFA2);
}
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh; 
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
}
.calculator-grid>button{
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    border: 1px solid white;
    background-color:rgba(255, 255, 255, 0.75);
}
.calculator-grid>button:hover{
    background-color: rgba(255, 255, 255,.85);
}
.span-two{
    grid-column:span 2;
}
.output{
    grid-column:1/-1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;
    padding: 8px;
}
.previous-operand{
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.25rem;
}
.current-operand{
    color: white;
    font-size: 1.75rem;
}
